<div class="weui-msg">
  <div class="weui-msg__text-area">
    <h3>Click the link below:</h3>
    <%= link_to 'External Web Page', page_path(param: 'test' )%>
    <p>Param: 'test'</p>
  </div>
</div>
